In [1]:
import pandas as pd
import requests
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.metrics import plot_confusion_matrix
from sklearn.preprocessing import Normalizer

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
r = requests.get(url, allow_redirects=True)
open('iris.txt','wb').write(r.content)

4551

In [3]:
header = ['sepal_length','sepal_width','petal_length','petal_width','names']
df = pd.read_csv('iris.txt',names = header,index_col =False)
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width        names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [4]:
### convert string y-value into numerical, wasn't necessary, doing this due to the following function 
###plot_confusion matrix must use float value instead of string
def name_to_numeric(x):
    if x=='Iris-setosa':return 1
    if x =='Iris-versicolor':return 2
    if x =='Iris-virginica':return 3

df['names'] = df['names'].apply(name_to_numeric)

In [5]:
X = df.iloc[:,:-1]
X.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [6]:
y = (df.iloc[:,-1:])
y.head(3)

   names
0      1
1      1
2      1

In [15]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.2, random_state = 0)
svm = SVC()
svm.fit(X_train,np.ravel(y_train))
y_pred = svm.predict(X_test)
accuracy_score(y_test,y_pred)

1.0

#### A too simple ML question for SVC. Now lets reduce the training set by increasing the test_size and see if anything can be done to improve the accuracy

In [16]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.5, random_state = 0)
svm1 = SVC()
svm1.fit(X_train,np.ravel(y_train))
y_pred1 = svm1.predict(X_test)
accuracy_score(y_test,y_pred1)

0.9466666666666667

In [17]:
norm = Normalizer()
X_train_scaled = norm.fit_transform(X_train)
X_test_scaled = norm.transform(X_test)

In [ ]:
#### seems like normalization result in lower accuracy, this can be understood that the variables are having different meaning and scaling toward the ml technique, normalization will causes information lost from those aspects

In [18]:
svm2 = SVC()
svm2.fit(X_train_scaled,np.ravel(y_train))
y_pred2 = svm2.predict(X_test_scaled)
accuracy_score(y_test,y_pred2)

0.92

In [28]:
#### After trying poly, rbf, and sigmoid kernel, linear seems to 
#### show highest accuracy imporvement, showing that there is a simple 
#### linear relationship among variables in iris dataset

svm3 = SVC(kernel = 'linear')
svm3.fit(X_train,np.ravel(y_train))
y_pred3 = svm3.predict(X_test)
accuracy_score(y_test,y_pred3)

0.9733333333333334